body{  font-family: Arial;
    background-color: #dddddd;
    outline: none;
}

.buyer{
    background-color: #ffffff;
    width: 55%;
    height: 40%;

    border: 1px solid #d2d2d2;
    border-radius: 5px;

    padding-bottom: 25px;
    margin: 80px;
    float: left;
}

.buyer-title-line{
    background-color: white;
    width: 90%;
    height: 25%;
    padding-left: 10px;
    margin: 15px;
}

.button-add-product{
    background-color: #3371cd;
    color: white;
    border-radius: 5px;
    width: 20%;
    height: 30px;
    float: right;

}

.input-name-of-product{
    background-color: white;
    line-height: 24px;
    width: 75%;
    height: 100%;
    border-radius: 2px;

}

.product {
    background-color: white;
    box-sizing: inherit;
    height: 20%;
    padding:15px;
    vertical-align: middle;
    border-top: 1px solid #d2d2d2;
    border-color: white;
}

.colom-1-name {
    background-color: white;
    width: 25%;
    height: inherit;
    display: inline-block;
    padding-top:11px;
    padding-left: 15px;
    padding-right: 15px;
    vertical-align: top;
    /*vertical-align: middle;*/
    float: left; }

.name-not-bought {
    display: inline;
    text-decoration: none;
}

.name-bought {
    display: none;
    text-decoration: line-through;
}

.colom-2-quantity {
    background-color: white;
    width: 32.5%;
    height: inherit;
   /* vertical-align: middle;*/
    position: relative;
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
    vertical-align: top;
    text-align: center;
}

.colom-3-state {
    background-color: white;
    height: inherit;
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
    vertical-align: top;
    /*vertical-align: middle;*/
    text-align: center;
    float: right;
}


.button-cupleno{
    display: inline-block;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    width: 85px;
    height: 35px;
    box-shadow: 0 0 0 1px #ddd inset, 0 1px 1px #fff;
    background: #dcdcdc linear-gradient(#fff, #dcdcdc);
}

.button-ne-cupleno{
    display: inline-block;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    width: 100px;
    height: 35px;
    box-shadow: 0 0 0 1px #ddd inset, 0 1px 1px #fff;
    background: #dcdcdc linear-gradient(#fff, #dcdcdc);
    text-decoration: line-through;
    display: none;
}

.delete{
    position: relative;
    display: inline-block;
    font-weight: 800;
    width: 35px;
    height: 35px;
    border-radius:10%;
    color:white;
    background: red;
}

.button-minus {
    position: relative;
    display: inline-block;
    font-weight: 700;
    color: white;
    width: 33px;
    height: 33px;
    line-height: 22px;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    outline: none;
    border-radius: 80%;
    background-color: red;
    border-bottom-color: darkred;
   /* box-shadow: 0 0 0 1px #902516 inset, 0 1px 1px #ffffff;*/
}

.button-plus {
    position: relative;
    display: inline-block;
    font-weight: 700;
    color: white;
    width: 33px;
    height: 33px;
    line-height: 22px;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    outline: none;
    border-radius: 80%;
    background-color: green;
    /* box-shadow: 0 0 0 1px #902516 inset, 0 1px 1px #ffffff;*/
}

.number1 {
    display: inline-block;
    width: 27px;
    height: 27px;
    line-height: 23px;
    vertical-align: middle;
    text-align: center;
    color: black;
    border-radius: 5px;
    background-color: #d2d2d2;
}


/*#number1:hover {
    background: #dcdcdc linear-gradient(#fff, #dcdcdc);
    box-shadow: 0 0 0 1px #aaa inset, 0 1px 1px #aaa;
}
#number1:active {
    background: none;
    box-shadow: 0 0 0 1px #bbb inset, 0 1px 3px rgba(0,0,0,.5) inset, 0 1px 2px #fff;
}*/

.result{
    background-color: white;
    width: 25%;

    border: 1px solid #d2d2d2;
    border-radius: 5px;

    margin:80px;
    margin-left: 5px;
    float: left;
}

.resStr{
    border-top: 1px solid #d2d2d2;
    box-sizing: inherit;
    padding: 10px;
    padding-left: 15px;
    vertical-align: middle;

}

.resText{
    font-weight: 600;
    font-size: large;
}

.resRect{
    display: inline-block;
    width: 100px;
    height: 24px;
    vertical-align: center;
    text-align: center;
    color: black;
    font-size: small;
    border-radius: 5px;
    background-color: #d2d2d2;
    padding-top: 3px;
    margin: 2px;

}

.resCircl{
    display: inline-block;
    float: right;
    margin-right: 3px;
    width:15px;
    height:15px;
    text-align: center;
    color: white;
    font-weight: 300;
    border-radius: 100%;
    background-color: orangered;
}

#is-bought{
    text-decoration: line-through;
    color: green;
}